@font-face{
	
	font-family:myfirstfont;
	src:url(Algerian-Regular.woff);
}
	
body {
	background-image:url(aa.jpg); 
	background-repeat:no-repeat;
	background-size:cover;
	margin:0px;
}

.fontFamily {
	color:red;
	text-align:center;
	padding-bottom:14px;
	font-family:myfirstfont;
	font-size:50px;
	
	}	

.new1{
	background:#ff000c91;
    color: #fff5f5f5;
	margin:5px;
}


.new2 {
	background:green;
	color:white;
	text-align:center;
	padding:0 10px;
	font-size: 65px;
}

img {
	width:516px;
	border:5px solid #ffffffd4;
	
}




